
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Select Role</title>
  <style>
    body { text-align: center; font-family: sans-serif; padding-top: 50px; }
    button { padding: 15px 30px; margin: 10px; font-size: 18px; }
  </style>
</head>
<body> 
  <h1>WELCOME TO SYNAPTIC.AI </h1>
  [developed by- anurag and team]
<h2>who are you?</h2>
  
  <form action="/user_login" method="get">
    <button type="submit">User</button>
  </form>
  <form action="/admin_login" method="get">
    <button type="submit">Admin</button>
  </form>
</body>
</html>